body{
  padding-top:80px;
  word-wrap:break-word;
  color: white;
  background-color: lightpink;

}
img{
  height: 200px;
}

h1{
  text-align: center;
}

.text-area{
  width: 70%;
  padding-bottom: 200px;
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tofrom{
  display: flex;
  justify-content: flex-start;
}

.messages{
  display: flex;
  flex-wrap: wrap;
}

.message{
  width: 30%;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}
