body {
  padding-top: 80px;
  word-wrap: break-word;
  color: white;
  background-color: lightpink;
}

img {
  height: 200px;
}

h1 {
  text-align: center;
}

.order {
  padding: 5px;
  margin: 3px;
  border: 1px solid black;
}

.columns {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
